
@font-face {font-family: 'Circe';src: url('fonts/Circe-Regular.eot');src: url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-Regular.woff2') format('woff2'), url('fonts/Circe-Regular.woff') format('woff'), url('fonts/Circe-Regular.ttf') format('truetype'), url('fonts/Circe-Regular.svg#Circe-Regular') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Circe';src: url('fonts/Circe-Bold.eot');src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-Bold.woff2') format('woff2'), url('fonts/Circe-Bold.woff') format('woff'), url('fonts/Circe-Bold.ttf') format('truetype'), url('fonts/Circe-Bold.svg#Circe-Bold') format('svg');font-weight: 700;font-style: normal;}
@font-face {font-family: 'Circe';src: url('fonts/Circe-ExtraBold.eot');src: url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-ExtraBold.woff2') format('woff2'), url('fonts/Circe-ExtraBold.woff') format('woff'), url('fonts/Circe-ExtraBold.ttf') format('truetype'), url('fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');font-weight: 800;font-style: normal;}


/* Reset browser default styles */
html, body {min-height:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;}
body {font:18px 'Circe', sans-serif;color:#636363;background:#fff;}
div, html, body, p, ul, ol, li, a, form, img, table, td, h1, h2, h3, h4, h5, h6, blockquote, header, section, footer, aside, nav, article, figure, figcaption, dt, dd, dl {margin:0;padding:0;} 
header, section, footer, aside, nav, article, figure, figcaption {display:block;}
table {border-collapse:collapse;}
img {border:none;max-width:100%;height:auto;}
iframe, object, embed {max-width:100%;}
ul, li {list-style:none;}
input {vertical-align:middle;}
input:focus, textarea:focus {outline:none;}
button, input[type="submit"] {cursor:pointer;-webkit-appearance:none;}
a, a:active, a:visited {text-decoration:none;color:#234174;transition:color ease-in-out .2s;}
a:hover {text-decoration:none;color:#234174;}

/* All */
.wrapper {max-width:960px;margin:0 auto;position:relative;}
.cover {display:none;}
*[data-cover] {min-height:162px;background:url(../images/blank.gif) center center no-repeat;background-size:cover;}
h1 {color:#234174;font:58px 'Playfair Display';}
h2 {color:#1a1a1a;font:30px 'Playfair Display';padding-bottom:25px;}
h3 {color:#1a1a1a;font:22px 'Playfair Display';padding-bottom:15px;}
h4 {font:22px 'Circe';padding-bottom:20px;}
h5 {color:#1a1a1a;font:700 20px 'Circe';padding-bottom:15px;text-transform:uppercase;}
h6 {color:#1a1a1a;font:14px 'Circe';padding-bottom:15px;text-transform:uppercase;}
p {padding-bottom:15px;}

input[type="text"], input[type="email"],input[type="password"] {font:18px 'Circe', sans-serif;color:#000;border:none;background:#e8f0fe;border-radius:0;padding:0 15px;height:49px;width:100%;box-sizing:border-box;}
input[type="text"]::placeholder, input[type="email"]::placeholder {color:#819a8e;opacity:1;}

.button, .button:visited {color:#fff;background:#f7835b;padding:5px 20px;min-height:60px;font:800 18px 'Circe';letter-spacing:1px;border:none;border-radius:0;text-align:center;display:inline-flex;align-items:center;justify-content:center;vertical-align:middle;box-sizing:border-box;transition:background-color ease-in-out .2s, color ease-in-out .2s;}
.button:hover {color:#fff;background:#f77045;}
.button:after {content:'';display:inline-block;width:6px;height:6px;border-right:3px solid #fff;border-bottom:3px solid #fff;transform:rotate(-45deg);border-radius:1px;margin:-3px 0 0 3px;}
.button.button_small {min-height:40px;padding:5px 15px;font-size:12px;}
.button.button_small:after {width:4px;height:4px;border-width:2px;margin-top:-2px;}
.button.button_blue, .button.button_blue:visited {background:#234174;}
.button.button_blue:hover {background:#232b67;}
.button.button_green, .button.button_green:visited {background:#00b6bd;}
.button.button_green:hover {background:#00a4ab;}
.button.button_dark_green, .button.button_dark_green:visited {background:#0d462a;}
.button.button_dark_green:hover {background:#0d391d;}

/* Header */
.header {padding:17px 0;}
.header .wrapper {display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.header .logo {width:222px;height:35px;background:url(../images/logo.svg?v1) no-repeat;background-size:222px auto;font-size:0;line-height:0;}
.header ul {display:flex;align-items:center;}
.header ul li {padding-left:40px;}
.header ul li a:not(.button) {color:#4b4b4b;font:800 12px 'Circe';letter-spacing:1px;text-transform:uppercase;}

/* Hero block */
.hero_block {text-align:center;color:#1a1a1a;background:url(../images/demo/hero_bg.jpg) center center no-repeat;background-size:cover;padding:75px 0 60px 0;}
.hero_block h1 {padding-top:65px;background:url(../images/icons/wtw.svg) center top no-repeat;background-size:66px auto;}
.hero_block h1 + p {font:700 30px 'Circe';padding-bottom:0;max-width:100%;}
.hero_block p {padding-bottom:10px;margin:0 auto;max-width:440px;}
.hero_block p:last-child {font-size:14px;color:#434343;}
.hero_block .button {margin:5px 0 10px 0;}

/* HIW block */
.hiw_block {padding:50px 0 40px 0;border-bottom:1px solid #f0f0f0;text-align:center;}
.hiw_block ul {display:flex;flex-wrap:wrap;align-items:flex-start;}
.hiw_block ul li {flex:1 0 33.33%;padding:20px 0;position:relative;}
.hiw_block ul li:after {content:'';display:block;width:9px;height:9px;border-right:4px solid #636363;border-bottom:4px solid #636363;transform:rotate(-45deg);border-radius:1px;position:absolute;top:122px;right:0;}
.hiw_block ul li:last-child:after {display:none;}
.hiw_block ul li figure {padding:0 20px;}
.hiw_block ul li figure img {margin-bottom:30px;max-width:206px;}
.hiw_block ul li figure figcaption h5 {min-height:55px;display:inline-flex;align-items:center;}

/* Membership block */
.membership_block {padding:70px 0 50px 0;text-align:center;}
.membership_block ul {display:flex;flex-wrap:wrap;align-items:flex-start;}
.membership_block ul li {flex:1 0 33.33%;padding:10px 0;position:relative;}
.membership_block ul li figure {padding:0 22px;}
.membership_block ul li figure [data-cover] {margin-bottom:30px;border:1px solid #e6e6e6;padding:4px;background-clip:content-box;}
.membership_block ul li figure figcaption h5 {min-height:55px;display:inline-flex;align-items:center;}

/* Offer block */
.offer_block {background:#e2edff;padding:60px 0 40px 0;text-align:center;border-bottom:1px solid #fff;}
.customers_block + .offer_block {background:#fff5ef;border-bottom-color:#fff5ef;}
.offer_block p {color:#1a1a1a;font-size:28px;padding-bottom:5px;}
.offer_block p:nth-child(2) {color:#234174;font:38px 'Playfair Display';margin:-5px 0 10px 0;}
.offer_block p:last-child {color:#636363;font-size:18px;}
.offer_block p .button {margin:5px 0 10px 0;}

/* WITB slider */
.witb_slider {padding:30px 0 40px 0;background:#fff1f3 url(../images/demo/slider_bg.png);text-align:center;position:relative;}
.witb_slider:before {content:'';display:block;width:100%;height:100px;background:#fff1f3;position:absolute;top:0;left:0;}
.witb_slider .wrapper {max-width:1220px;}
.witb_slider .slider {padding:60px 80px 0 80px;position:relative;}
.witb_slider .slider .mobile {display:none;}
.witb_slider .bx-prev, .witb_slider .bx-next {position:absolute;top:50%;right:0;font-size:0;line-height:0;background:#ffd3d9 url(../images/icons/next.png) 20px center no-repeat;border:2px solid #fff;border-radius:50%;width:60px;height:60px;box-sizing:border-box;}
.witb_slider .bx-prev {right:auto;left:0;background-image:url(../images/icons/prev.png);background-position:16px center;}

/* Get started */
.get_started {padding:80px 0 50px 0;text-align:center;border-bottom:1px solid #f0f0f0;}
.get_started ol {display:flex;flex-wrap:wrap;align-items:flex-start;margin:80px -15px 0 -15px;}
.get_started ol > li {flex:1 0 calc(33.33% - 30px);margin:0 15px 30px 15px;padding-bottom:25px;box-sizing:border-box;border:2px solid #ffa5b2;position:relative;color:#2d2d2d;}
.get_started ol > li .img {width:136px;height:136px;margin:0 auto;border:4px solid #fff;border-radius:50%;display:flex;align-items:center;justify-content:center;background:#f9fafd;box-shadow:#ffa5b2 0 0 0 2px;position:absolute;top:-80px;left:calc(50% - 74px);z-index:2;}
.get_started ol > li .img.zip:before {content:'';display:block;width:64px;height:23px;position:absolute;bottom:-2px;right:-17px;background:url(../images/icons/zip.png) no-repeat;background-size:64px auto;}
.get_started ol > li .img.best:before {content:'';display:block;width:53px;height:82px;position:absolute;top:-16px;right:-62px;background:url(../images/icons/best.png) no-repeat;}
.get_started ol > li h3 {background:#f9fafd;border-bottom:2px solid #ffa5b2;padding:80px 5px 20px 5px;position:relative;}
.get_started ol > li h3 .trigger {position:absolute;top:0;left:0;width:100%;height:100%;display:none;cursor:pointer;}
.get_started ol > li p {font-size:20px;font-weight:700;padding:15px 10px;min-height:60px;}
.get_started ol > li ul {padding-bottom:10px;min-height:150px;}
.get_started ol > li ul li {position:relative;padding:0 15px 10px 15px;}
.get_started ol > li ul li:before {content:'';display:inline-block;vertical-align:middle;width:3px;height:3px;background:#2d2d2d;border-radius:50%;margin-right:5px;}
.get_started ol > li .price {background:#ffa5b2;color:#fff;font-size:20px;margin-bottom:15px;padding:10px 5px 5px 5px;position:relative;}
.get_started ol > li .price span {position:absolute;top:-26px;right:12px;background:#234174;color:#fff;font:800 16px/16px 'Circe';text-transform:uppercase;width:53px;height:53px;border-radius:50%;display:inline-flex;align-items:center;justify-content:center;}
.get_started ol > li .price strong {display:block;font-size:49px;line-height:45px;}
.get_started ol > li .price ~ p {padding:5px 33px;}
.get_started ol > li .price ~ p .button {min-width:100%;}
.get_started ol > li:nth-child(2) {border-color:#659ccc;}
.get_started ol > li:nth-child(2) .img {background:#eaf5ff;box-shadow:#659ccc 0 0 0 2px;}
.get_started ol > li:nth-child(2) h3 {background:#eaf5ff;border-bottom-color:#659ccc;}
.get_started ol > li:nth-child(2) .price {background:#659ccc;}
.get_started ol > li:nth-child(3) {border-color:#ffbc92;}
.get_started ol > li:nth-child(3) .img {background:#fff5ef;box-shadow:#ffbc92 0 0 0 2px;}
.get_started ol > li:nth-child(3) h3 {background:#fff5ef;border-bottom-color:#ffbc92;}
.get_started ol > li:nth-child(3) .price {background:#ffbc92;}

/* Customers block */
.customers_block {padding:75px 0 90px 0;}
.customers_block h2 {text-align:center;}
.customers_block ul {max-width:810px;margin:15px auto 0 auto;}
.customers_block ul li {padding:15px 0 0 0;}
.customers_block ul li figure {display:flex;flex-wrap:wrap;align-items:center;}
.customers_block ul li figure > div {border:2px solid #fff;padding:12px 12px 48px 12px;box-shadow:rgba(0,0,0,.1) 0 6px 10px 0;width:240px;background:#f4f8ff url(../images/demo/customers_bg.jpg);transform:rotate(-5deg);}
.customers_block ul li figure > div [data-cover] {min-height:245px;}
.customers_block ul li figure figcaption {flex:1;color:#1a1a1a;padding-left:55px;}
.customers_block ul li figure figcaption p:last-child {color:#234174;font:16px 'Playfair Display';}
.customers_block ul li figure figcaption p:last-child em {color:#707070;font:italic 14px 'Playfair Display';display:block;}
.customers_block ul li:nth-child(even) figure > div {transform:rotate(5deg);}
.customers_block ul li:nth-child(even) figure figcaption {order:-1;text-align:right;padding:0 55px 0 0;}

/* Subscribe block */
.subscribe_block {background:#fff;color:#000;text-align:center;padding:30px 0;}
.subscribe_block form {max-width:520px;margin:0 auto;}
.subscribe_block ul li {padding-bottom:20px;clear:both;}
.subscribe_block ul li .button {min-width:200px;}
.subscribe_block ul li:first-child {width:calc(50% - 10px);clear:none;float:left;}
.subscribe_block ul li:nth-child(2) {width:calc(50% - 10px);clear:none;float:right;}


/* Footer */
.footer {border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;background:url(../images/demo/footer.png);padding:50px 0 20px 0;}
.footer .wrapper {display:flex;flex-wrap:wrap;}
.footer .wrapper > div {width:33%;padding:60px 30px 0 0;box-sizing:border-box;background:url(../images/logo.svg?v1) no-repeat;background-size:160px auto;color:#1a1a1a;font-size:14px;}
.footer .wrapper > div p a, .footer .wrapper > div p a:visited {color:#aeaeae;font-weight:700;}
.footer .wrapper > div p a:hover {color:#234174;}
.footer .wrapper > div ul {font-size:0;line-height:0;padding-bottom:15px;}
.footer .wrapper > div ul li {display:inline-block;padding:0 5px 5px 0;}
.footer .wrapper > div ul li a, .footer .wrapper > div ul li a:visited {display:block;width:30px;height:30px;background:#000 url(../images/blank.gif) center center no-repeat;border-radius:50%;opacity:1;transition:opacity ease-in-out .2s;}
.footer .wrapper > div ul li a:hover {opacity:.8;}
.footer .wrapper > div ul li a[href*="facebook"] {background-image:url(../images/icons/facebook.png);background-size:8px auto;}
.footer .wrapper > div ul li a[href*="twitter"] {background-image:url(../images/icons/twitter.png);background-size:15px auto;}
.footer .wrapper > div ul li a[href*="instagram"] {background-image:url(../images/icons/instagram.png);background-size:16px auto;}
.footer .wrapper > div ul li a[href*="pinterest"] {background-image:url(../images/icons/pinterest.png);background-size:19px auto;}
	/* Bottom menu */
.footer nav {flex:1;}
.footer nav > ul {display:flex;flex-wrap:wrap;}
.footer nav > ul > li {flex:1 0 0;padding:0 20px 25px 0;box-sizing:border-box;font-size:14px;}
.footer nav > ul > li li {padding:3px 0 5px 0;}
.footer nav > ul > li li a, .footer nav > ul > li li a:visited {color:#1a1a1a;}
.footer nav > ul > li li a:hover {color:#234174;}

/* Copyright */
.copyright {padding:15px;text-align:right;font-size:14px;font-weight:700;}

/* Media Queries */
	/* Tablets and mobiles */
@media only screen and (max-width: 959px) {
.wrapper {padding:0 10px;box-sizing:border-box;}
}
	/* Mobile portrait and landscape modes */
@media only screen and (max-width: 767px) {
body {font-size:16px;}
h1 {font-size:36px;line-height:42px;}
h2 {font-size:24px;line-height:30px;}
h5 {font-size:18px;line-height:24px;padding-bottom:10px;}
/* Hero block */
.hero_block {background-image:url(../images/demo/hero_bg_mobile.jpg);padding-bottom:135px;}
.hero_block h1 {padding:90px 0 10px 0;}
.hero_block h1 + p {font-size:22px;}
/* HIW block */
.hiw_block {padding-bottom:15px;}
.hiw_block ul {display:block;}
.hiw_block ul li {padding:25px 0;}
.hiw_block ul li:after {transform:rotate(45deg);top:calc(100% - 20px);right:calc(50% - 5px);}
.hiw_block ul li figure {padding:0 5px;}
.hiw_block ul li figure img {margin-bottom:20px;}
.hiw_block ul li figure figcaption h5 {min-height:1px;display:block;}
.hiw_block ul li figure figcaption h5 br {display:none;}
/* Membership block */
.membership_block {padding:50px 0 20px 0;}
.membership_block ul {display:block;}
.membership_block ul li {padding:0 0 10px 0;}
.membership_block ul li figure {padding:0 5px;}
.membership_block ul li figure [data-cover] {margin:0 auto 30px auto;width:275px;}
.membership_block ul li figure figcaption h5 {min-height:1px;display:block;}
.membership_block ul li figure figcaption h5 br {display:none;}
/* Offer block */
.offer_block {padding:30px 0 40px 0;}
.offer_block p {font-size:22px;}
.offer_block p:nth-child(2) {font-size:32px;}
.offer_block p:last-child {font-size:16px;}
/* WITB slider */
.witb_slider .slider {padding:60px 65px 0 65px;}
.witb_slider .slider img {display:none;}
.witb_slider .slider .mobile {display:inline;}
/* Get started */
.get_started {padding:50px 0;}
.get_started ol {display:block;margin:0;}
.get_started ol > li {margin:0 0 10px 0;padding-bottom:0;border-bottom-width:0;}
.get_started ol > li.active {padding-bottom:25px;border-bottom-width:2px;}
.get_started ol > li .img {display:none;}
.get_started ol > li h3 {padding:17px 20px;text-align:left;}
.get_started ol > li h3 .trigger {display:block;}
.get_started ol > li h3 .trigger:before {content:'';display:inline-block;width:7px;height:7px;border-right:3px solid #1a1a1a;border-bottom:3px solid #1a1a1a;transform:rotate(45deg);border-radius:1px;position:absolute;top:calc(50% - 6px);right:20px;transition:transform ease-in-out .2s;}
.get_started ol > li.active h3 .trigger:before {transform:rotate(-135deg);}
.get_started ol > li h3 + div {display:none;}
.get_started ol > li:first-child h3 + div {display:block;}
.get_started ol > li p {min-height:1px;}
.get_started ol > li ul {min-height:1px;}
.get_started ol > li .price ~ p {padding:5px 10px;}
.get_started ol > li .price ~ p .button {min-width:230px;}
/* Customers block */
.customers_block {padding:50px 0 20px 0;}
.customers_block ul {margin-top:5px;}
.customers_block ul li {padding:15px 0;}
.customers_block ul li figure {display:block;}
.customers_block ul li figure > div {margin:0 auto 35px auto;}
.customers_block ul li figure figcaption {text-align:center;padding-left:0;}
.customers_block ul li:nth-child(even) figure figcaption {text-align:center;padding:0;}
/* Subscribe block */
.subscribe_block ul li {padding-bottom:10px;}
.subscribe_block ul li:first-child, .subscribe_block ul li:nth-child(2) {width:auto;float:none;}
/* Footer */
.footer {padding-bottom:40px;}
.footer .wrapper {display:block;}
.footer .wrapper > div {width:100%;text-align:center;background-position:center top;padding-right:0;}
    /* Bottom menu */
.footer nav {display:none;}
/* Copyright */
.copyright {text-align:center;}
}


    /* Mobile portrait mode */
@media only screen and (max-width: 479px) {
/* Header */
.header {padding:15px 0;}
.header .logo {width:120px;height:26px;background-size:120px auto;}
.header ul li {padding-left:15px;}
.header ul li:first-child {padding-left:0;}
}
.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.active-submenu{
    color: #f7835b !important;
}
.help-block-error{
    color:white !important;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.form-group {
    margin-bottom: 2px;
}