/*Dark Version
------------------------------------*/
body.dark {
	color: #999;
}

body.dark .wrapper {
	background: #252525;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
	color: #ccc;
	font-weight: 200;
}

body.dark .wrapper p {
	color: #999;
}

body.dark p, 
body.dark li, 
body.dark li a {
	color: #999;
}

body.dark .headline {
  border-bottom: 1px dotted #555;
}

/*Headline v2
------------------------------------*/
body.dark .headline-v2,
body.dark .headline-v2.bg-color-light {
	background: #333 !important;
}

/*Parallax Backgrounds
------------------------------------*/
body.dark .parallax-bg {
	background: #333 url(../../../img/patterns/5.png) repeat fixed;		
}

/*Revolution Slider
------------------------------------*/
body.dark .tp-bannertimer {
  background: rgba(0,0,0,0.5);
}

body.dark .tp-banner-container .btn-u.btn-brd.btn-u-light {
  color: #fff;
}

/*Header
------------------------------------*/
body.dark .header,
body.dark .header-v3 {
	background: #222;
	border-bottom-color: #333;
}

body.dark .header.header-v1 {
	background: none;
}

/*Topbar*/
body.dark .topbar ul.loginbar li i.fa {
	color: #999;	
}

body.dark .topbar ul.loginbar > li > a {
	color: #999;
}

body.dark .topbar ul.loginbar > li > a:hover {
	color: #fff;
}

body.dark .topbar ul.languages {
	background: #333;
}

body.dark .topbar ul.languages li a {
	color: #999;
}

body.dark .topbar ul.languages li.active a,
body.dark .topbar ul.languages li a:hover {
	color: #ccc;
	background: #555;
}

body.dark .topbar ul.languages li.active a i {
	color: #ccc;
}

body.dark .topbar ul.languages:after {
	border-bottom-color: #303030;
}

body.dark .topbar ul.loginbar li.topbar-devider {
	border-left-color: #999;
}

/*Topbar v1*/
body.dark .topbar-v1 {
	background: #222;
	border-color: #555;
}

body.dark .topbar-v1 .top-v1-data li:first-child {
	border-right-color: #555;
}

body.dark .topbar-v1 .top-v1-data li {
	border-left-color: #555;
}

body.dark .topbar-v1 .top-v1-contacts li {
	color: #999;
}

body.dark .topbar-v1 .top-v1-data li i {
	color: #999;
}

/*Navigation*/
body.dark .header .navbar-nav > li > a,
body.dark .header-v1 .navbar-default .navbar-nav > li > a,
body.dark .header-v3 .navbar-default .navbar-nav > li > a {
	color: #999;
}

body.dark .header .navbar-nav .open > a,
body.dark .header .navbar-nav .open > a:hover,
body.dark .header .navbar-nav .open > a:focus {
	border-bottom-color: #333;
}

body.dark .nav .open > a,
body.dark .nav .open > a:hover,
body.dark .nav .open > a:focus,
body.dark .header .nav > li > a:hover,
body.dark .header .nav > li > a:focus {
	background: inherit;
}

@media (max-width: 991px) {
	body.dark .header .nav > li.active > a:hover {
		background: #72c02c;	
	}
}

/*Search*/
body.dark .header .nav > li > .search {
	color: #999;
	background: #292929;
	border-bottom-color: #555;
}

body.dark .header .nav > li > .search:hover {
	background: #303030;
}

body.dark .header .search-open,
body.dark .header-v1 .navbar .search-open,
body.dark .header-v3 .navbar .search-open,
body.dark .header-v4 .navbar .search-open {
	background: #222;
	box-shadow: none;
	border-top-color: #333;
}

/*Dropdown Menu*/
body.dark .header .dropdown-menu,
body.dark .header-v1 .dropdown-menu,
body.dark .header-v2 .dropdown-menu,
body.dark .header-v3 .dropdown-menu,
body.dark .header-v4 .dropdown-menu {
	background: #222;
	border-bottom-color: #202020;
}

body.dark .header .dropdown-menu li a,
body.dark .header-v1 .dropdown-menu li a,
body.dark .header-v2 .dropdown-menu li a,
body.dark .header-v3 .dropdown-menu li a,
body.dark .header-v4 .dropdown-menu li a {
	color: #999;
	border-bottom-color: #303030;
}

body.dark .header .dropdown-menu .active > a, 
body.dark .header .dropdown-menu li > a:hover,
body.dark .header-v1 .dropdown-menu .active > a, 
body.dark .header-v1 .dropdown-menu li > a:hover,
body.dark .header-v2 .dropdown-menu .active > a, 
body.dark .header-v2 .dropdown-menu li > a:hover,
body.dark .header-v3 .dropdown-menu .active > a, 
body.dark .header-v3 .dropdown-menu li > a:hover,
body.dark .header-v4 .dropdown-menu .active > a, 
body.dark .header-v4 .dropdown-menu li > a:hover {
	color: #999 !important;
	background: #303030 !important;
}

/*Responsive Navbar*/
@media (max-width: 991px) {
	/*Topbar v1*/
	body.dark .header-v1 .topbar-v1 .top-v1-data li,
	body.dark .header-v4 .topbar-v1 .top-v1-data li {
		border-color: #555;
	}

	body.dark .header-v1 {
		border-color: #555;
	}

	body.dark .header-v1 .navbar .nav > li > .search {
		background: #333;
	}

	/*Header Navbar*/
	body.dark .navbar-form,
	body.dark .navbar-collapse {
		border-color: #555;
	}

	/*Navbar Nav*/
	body.dark .navbar-nav > .active > a {
		color: #fff;
	}

	body.dark .navbar-nav > li a {
		color: #999;
		border-bottom-color: #555;
	}

	/*Dropdown Menu*/
	body.dark .navbar-nav .open .dropdown-menu > li > a {
		color: #999;
	}

	body.dark .navbar-nav .open .dropdown-menu > li > a, 
	body.dark .navbar-nav .open .dropdown-menu > .active > a, 
	body.dark .navbar-nav .open .dropdown-menu > .active > a:hover, 
	body.dark .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #999;
	}

	body.dark .header .navbar-nav > li a,
	body.dark .header-v1 .navbar-default .navbar-nav > li a,
	body.dark .header-v3 .navbar-default .navbar-nav > li a,
	body.dark .header-v4 .navbar-default .navbar-nav > li a {
		border-bottom-color: #333;		
	}

	/*Navbar Opened*/
	body.dark .navbar-default .navbar-nav > .open > a, 
	body.dark .navbar-default .navbar-nav > .open > a:hover, 
	body.dark .navbar-default .navbar-nav > .open > a:focus {
		color: #eee;
	}

	/*Dropdown Submenu*/
	body.dark .header .dropdown .dropdown-submenu > a,
	body.dark .header-v1 .dropdown .dropdown-submenu > a,
	body.dark .header-v2 .dropdown .dropdown-submenu > a,
	body.dark .header-v3 .dropdown .dropdown-submenu > a,
	body.dark .header-v4 .dropdown .dropdown-submenu > a {
		color: #999 !important;
	}

	/*Equal Height List Style*/
    body.dark .header .mega-menu .equal-height-list h3,
    body.dark .header-v1 .mega-menu .equal-height-list h3, 
    body.dark .header-v3 .mega-menu .equal-height-list h3, 
    body.dark .header-v4 .mega-menu .equal-height-list h3 { 
		color: #999;
		border-bottom: solid 1px #333;
	}

	/*Header v3 Search Box*/
	body.dark .header-v3 .navbar .nav > li > .search {
		color: #999;
		background: #292929;
		border-bottom-color: #555;
	}

	body.dark .header-v3 .navbar .nav > li > .search:hover {
		background: #303030;
	}

	/*Header v2 Navbar*/
	body.dark .header-v2 .navbar-default .navbar-nav > li a {
		border-color: #555;
	}

	/*Header v2 Topbar*/
	body.dark .header-v2 .topbar-buttons .btn-u-light	{
		border-color: #eee;
	}

	body.dark .header-v2 .topbar-v2 {
		border-color: #555;
	}

	body.dark .header-v2 .topbar-v2 li, 
	body.dark .header-v2 .topbar-v2 li a {
		color: #999;
	}

	body.dark .header-v2 .languages-dropdown {
		background: #222;
	}

	body.dark .header-v2 .languages-dropdown:after {
		border-bottom-color: #222;
	}

	body.dark .header-v2 .languages-dropdown > li > a:hover, 
	body.dark .header-v2 .languages-dropdown > li.active > a {
		background: #333; 
	}

	/*Header v4*/
	body.dark .header-v4 .navbar-toggle, 
	body.dark .header-v4 .navbar-default .navbar-toggle:hover, 
	body.dark .header-v4 .navbar-default .navbar-toggle:focus {
		background: #1c1c1c;
	}

	body.dark .header-v4 .navbar .nav > li > .search {
		background: #292929; 
	}

	body.dark .header-v4 .navbar-nav,
	body.dark .header-v4 .navbar-default .navbar-toggle,
	body.dark .header-v4 .navbar-nav.navbar-border-bottom,
	body.dark .header-v4 .navbar-default .navbar-nav > li a	{
		border-color: #555;
	}

	body.dark .navbar-nav .open .dropdown-menu > li > a, 
	body.dark .navbar-nav .open .dropdown-menu > .active > a, 
	body.dark .navbar-nav .open .dropdown-menu > .active > a:hover, 
	body.dark .navbar-nav .open .dropdown-menu > .active > a:focus {
		background: transparent;
	}

}

@media (min-width: 992px) {
	body.dark .header-v4 .navbar-collapse {
		border-top-color: #333;
		border-bottom-color: #333;
	}
	
	body.dark .header-v4 .navbar-default .navbar-nav > li {
		margin-right: -1px;
		border-right: 1px solid #333;
		border-left: 1px solid #333;
	}

	body.dark .header-v4 .navbar-default .navbar-nav > li > a {
		color: #999;
	}	
}

/*Header Fixed (Shrink)
------------------------------------*/
body.dark.header-fixed .header.header-fixed-shrink,
body.dark.header-fixed .header-v1.header-fixed-shrink,
body.dark.header-fixed .header-v2.header-fixed-shrink,
body.dark.header-fixed .header-v3.header-fixed-shrink {
	box-shadow: 0 0 3px #000;
	background: rgba(0,0,0,0.9);
}

body.dark.header-fixed .header.header-fixed-shrink .search-open,
body.dark.header-fixed .header-v1.header-fixed-shrink .navbar .search-open,
body.dark.header-fixed .header-v2.header-fixed-shrink .navbar .search-open,
body.dark.header-fixed .header-v3.header-fixed-shrink .navbar .search-open {
	box-shadow: none;
	background: rgba(0,0,0,0.9);
}

body.dark.header-fixed .header-v2.header-fixed-shrink .navbar-nav > li > a {
	color: #999;
}

/*Header Mega Menu
------------------------------------*/
@media (min-width: 992px) {
    body.dark .header .mega-menu .equal-height-in,
    body.dark .header-v1 .mega-menu .equal-height-in,
    body.dark .header-v2 .mega-menu .equal-height-in,
    body.dark .header-v3 .mega-menu .equal-height-in,
    body.dark .header-v4 .mega-menu .equal-height-in {
        border-right-color: #333;
    }
}

/*Header v6
------------------------------------*/
/*Shopping Cart*/
body.dark .header-v6 .shopping-cart .shopping-cart-open {
	background: #2a2b2b;
	border-color: #555;
	border-top-color: #72c02c;
}

body.dark .header-v6 .shopping-cart-open span.shc-title {
	color: #fff;
	border-bottom-color: #555;
}

body.dark .header-v6 .shopping-cart-open span.shc-total {
	color: #fff;
}

/*Media Queries*/
@media (max-width: 991px) {
	body.dark .header-v6 {
		background: #2a2b2b;
	}

	/*Navbar Brand*/
	body.dark.header-fixed .header-v6 .navbar-brand img.default-logo {
		display: inherit;
	}

	body.dark.header-fixed .header-v6 .navbar-brand img.shrink-logo {
		display: none;
	}

	/*Toggle*/
	body.dark .header-v6 .navbar-toggle .icon-bar {
		background: #fff;
	}

	/*Menu Inner Right*/
	body.dark .header-v6 li.menu-icons i.menu-icons-style {
		color: #fff;
	}

	/*Search*/
	body.dark .header-v6 .search-open {
		background: #2a2b2b;
		border-bottom: 1px solid #555;
	}

	body.dark.header-fixed .header-v6.header-fixed-shrink .search-open {
		border-bottom-color: #555;
	}

	body.dark .header-v6 .search-open .form-control {
		color: #fff;
		background: #2a2b2b;
	}

	body.dark .header-v6 .search-open .form-control::-moz-placeholder {
		color: #fff;
	}
	body.dark .header-v6 .search-open .form-control:-ms-input-placeholder {
		color: #fff;
	}
	body.dark .header-v6 .search-open .form-control::-webkit-input-placeholder {
		color: #fff;
	}

	body.dark .header-v6 li.menu-icons i.fa-times,
	body.dark.header-fixed .header-v6.header-fixed-shrink li.menu-icons i.fa-times {
		color: #fff;
	}

	/*Navbar Collapse*/
	body.dark .header-v6 .navbar-collapse {
		border-color: #555;
		border-bottom-color: #555;
	}

	/*Navbar Nav*/
	body.dark .header-v6 .navbar-nav > li a {
		color: #ccc;
		border-top-color: #555;
	}

	body.dark .header-v6 .navbar-nav > li a:hover {
		color: #72c02c;
	}

	body.dark .header-v6 .navbar-nav > .open > a,
	body.dark .header-v6 .navbar-nav > .open > a:hover,
	body.dark .header-v6 .navbar-nav > .open > a:focus {
		color: #fff;
	}

	/*Dropdown*/
	body.dark .header-v6 .navbar-nav .open .dropdown-menu > li > a {
		color: #ccc;
	}

	body.dark .header-v6 .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #72c02c;
	}

	/*Submenu*/
	body.dark .header-v6 .dropdown .dropdown-submenu > a {
		color: #fff !important;
	}

	/*Mega Menu*/
	body.dark .header-v6 .mega-menu .equal-height-list h3 {
		color: #fff;
	}
}

@media (min-width: 992px) {
	/*Header*/
	body.dark.header-fixed .header-v6.header-fixed-shrink {
		box-shadow: none;
		background: #2a2b2b;
	}

	body.dark.header-fixed .header-v6.header-fixed-shrink .navbar {
		background-color: inherit;
	}

	/*Navbar Brand*/
	body.dark.header-fixed .header-v6.header-fixed-shrink .navbar-brand img.default-logo {
		display: inherit;
	}

	body.dark.header-fixed .header-v6.header-fixed-shrink .navbar-brand img.shrink-logo {
		display: none;
	}

	/*Navbar*/
	body.dark.header-fixed .header-v6.header-fixed-shrink .navbar-nav > li > a {
		color: #fff;
	}

	body.dark.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
	body.dark.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover {
		color: #72c02c;
	}

	body.dark.header-fixed .header-v6.header-fixed-shrink li.menu-icons i.menu-icons-style {
		color: #fff;
	}

	/*Search*/
	body.dark .header-v6 .search-open {
		background: #2a2b2b;
		border-bottom: 1px solid #555;
	}

	body.dark.header-fixed .header-v6.header-fixed-shrink .search-open {
		border-bottom-color: #555;
	}

	body.dark .header-v6 .search-open .form-control {
		color: #fff;
		background: #2a2b2b;
	}

	body.dark .header-v6 .search-open .form-control::-moz-placeholder {
		color: #fff;
	}
	body.dark .header-v6 .search-open .form-control:-ms-input-placeholder {
		color: #fff;
	}
	body.dark .header-v6 .search-open .form-control::-webkit-input-placeholder {
		color: #fff;
	}

	body.dark .header-v6 li.menu-icons i.fa-times,
	body.dark .header-fixed .header-v6.header-fixed-shrink li.menu-icons i.fa-times {
		color: #fff;
	}

	/*Dropdown*/
	body.dark .header-v6 .dropdown-menu {
		background: #2a2b2b;
	}

	body.dark .header-v6 .dropdown-menu li a {
		color: #ccc;
	}

	body.dark .header-v6 .dropdown-menu .active > a,
	body.dark .header-v6 .dropdown-menu li > a:hover {
		color: #72c02c;
	}
	
	body.dark .header-v6 .dropdown-menu > li > a:hover,
	body.dark .header-v6 .dropdown-menu > li > a:focus {
		background: inherit;
	}

	/*Equal Height List Style*/
	body.dark .header-v6 .mega-menu .equal-height-in {
        border-right-color: #777;
    }

    body.dark .header-v6 .mega-menu .equal-height-list h3 { 
		color: #fff; 
	}

	body.dark .header-v6 .mega-menu .equal-height-list li a {
		color: #ccc;
	}

	body.dark .header-v6 .mega-menu .equal-height-list .active > a,
	body.dark .header-v6 .mega-menu .equal-height-list li a:hover {
		color: #72c02c;
	}
}

/*Header v7
------------------------------------*/
body.dark .header-v7 .navbar {
	background: #333;
}

body.dark .header-v7 .navbar-default .navbar-nav > li > a ,
body.dark .header-v7 .navbar-default .navbar-nav > li > a:after{
	color: #ccc;
}

/*Toggle*/
body.dark .header-v7 .navbar-toggle .icon-bar {
	background: #ccc;
}

/*Media Queries*/
@media (min-width: 768px) {
	body.dark .header-v7 .navbar-default {
		border-right-color: rgba(218,218,218,0.1);
        border-left-color: rgba(218,218,218,0.1);
	}

	body.dark .header-v7 .dropdown-menu {
		background: #333;
	}

	body.dark .header-v7 .navbar-default .navbar-nav > li > a:focus {
		color: #ccc;
	}
}

@media (max-width: 991px) {
	body.dark .navbar-collapse {
		background: #333;
	}

	body.dark .header-v7 .navbar-default .navbar-nav > li > a {
		border-bottom-color: #777;
	}
}

/*Boxed Layout
------------------------------------*/
body.dark.boxed-layout {
  box-shadow: 0 0 5px #191919;
  background: url(../../../img/patterns/4.png) repeat;
}

/*Breadcrumbs
------------------------------------*/
body.dark .breadcrumbs,
body.dark .breadcrumbs-v3 {
	background: #1c1c1c;
	border-bottom-color: #252525;
}

body.dark .breadcrumbs-v2 h1 {
	color: #fff;
}

body.dark .breadcrumb a {
	color: #999;
}

/*Main Slider Parallax
------------------------------------*/
body.dark .slider-inner .da-slider {
	border-bottom-color: #444;
}

/*Purchase
------------------------------------*/
body.dark .purchase {
	background: #252525;
	border-bottom-color: #2b2b2b;
}

body.dark .purchase span {
	color: #ccc;
	font-weight: 200;
}

/*Clients
------------------------------------*/
body.dark .clients li {
	background: #292929;
}

body.dark .clients li:hover {
	background: #303030;
}

/*List Group
------------------------------------*/
body.dark .list-group-item,
body.dark .list-group-item:hover {
	background: #222;
	border-color: #303030;
}

body.dark .list-toggle a:focus {
	color: #ccc;
}

body.dark .list-toggle:after {
	color: #999;
}

body.dark .sidebar-nav-v1 > li.active > a {
	color: #ccc;
	background: #292929;
}

body.dark .sidebar-nav-v1 > li.active,
body.dark .sidebar-nav-v1 > li.active:hover {
  	background: #202020;
}

body.dark .sidebar-nav-v1 li ul, 
body.dark .sidebar-nav-v1 li.active ul a {
	color: #999;
	background: #222;
}

body.dark .sidebar-nav-v1 li ul a {
	border-top-color: #303030;
}

body.dark .sidebar-nav-v1 li ul a:hover,
body.dark .sidebar-nav-v1 ul li.active a {
	color: #ccc;
}

/*Bootstrap Features
------------------------------------*/
label {
	color: #999;
}

body.dark strong {
	color: #ccc;
}

body.dark dt {
	color: #ccc;
}

body.dark dd {
	color: #999;
}

body.dark hr {
	border-color: #333;
}

body.dark code {
	background: #333;
}

/*Form Control
------------------------------------*/
body.dark .form-control {
	color: #999;
	border-color: #303030;
	background: #202020;
}

body.dark .form-control:focus {
	box-shadow: none;
	border-color: #555;
}

body.dark .input-group-addon {
	border-color: #303030;
	background: #202020;
}

/*Close
------------------------------------*/
body.dark .close {
	color: #999;
	text-shadow: none;
}

body.dark .close:hover {
	color: #bbb;
}

/*Alert Warning 
------------------------------------*/
body.dark .alert-info,
body.dark .alert-danger,
body.dark .alert-success,
body.dark .alert-warning {
	border-color: #444;
	background-color: #333;
}

body.dark .alert h4 {
	color: inherit;
}

body.dark .alert strong {
	color: inherit;
}

body.dark .alert code {
	background: #444;
}

/*Popover
------------------------------------*/
body.dark .popover {
	color: #999;
	box-shadow: none;
	border-color: #444;
	background-color: #333;
}

body.dark .popover.top .arrow:after {
	border-top-color: #333;
}

body.dark .popover.left .arrow:after {
	border-right-color: #333;
}

body.dark .popover.right .arrow:after {
	border-left-color: #333;
}

body.dark .popover.bottom .arrow:after {
	border-bottom-color: #333;
}

/*Contex Background
------------------------------------*/
body.dark .contex-bg p.bg-info,
body.dark .contex-bg p.bg-danger,
body.dark .contex-bg p.bg-warning,
body.dark .contex-bg p.bg-primary,
body.dark .contex-bg p.bg-success {
	background-color: #333;
}

body.dark .contex-bg p.bg-info {
	color: #27d7e7;
}

body.dark .contex-bg p.bg-danger {
	color: #e74c3c;
}

body.dark .contex-bg p.bg-warning {
	color: #e67e22;
}

body.dark .contex-bg p.bg-primary {
	color: #3498db;
}

body.dark .contex-bg p.bg-success {
	color: #72c02c;
}

/*Address 
------------------------------------*/
body.dark address {
	color: #999;
}

/*Heading
------------------------------------*/
body.dark .heading h2:before, 
body.dark .heading h2:after {
	border-color: #555;
}

body.dark .contacts-section .title-v1 h2 {
	color: #ccc;
}

body.dark .headline-left .headline-brd {
	color: #ccc;
}

body.dark .headline-center-v2.headline-center-v2-dark span.bordered-icon {
	color: #eee;
}

body.dark .headline-center-v2.headline-center-v2-dark span.bordered-icon:before,
body.dark .headline-center-v2.headline-center-v2-dark span.bordered-icon:after {
  background: #eee;
}

/*Divider
------------------------------------*/
body.dark .devider.devider-dotted,
body.dark .devider.devider-dashed,
body.dark .devider.devider-db,
body.dark .devider.devider-db-dotted,
body.dark .devider.devider-db-dashed {
	border-color: #555;
}

/*body.dark Blockquote
------------------------------------*/
body.dark blockquote,
body.dark blockquote.hero {
	border-right-color: #555;
}

body.dark blockquote.text-right, 
body.dark blockquote.hero.text-right {
	border-left-color: #555;
}

/*Hero Blockquote*/
body.dark blockquote.hero {
	background: #222;
}

body.dark blockquote.hero:hover {
	background: #252525;
	border-color: #555 !important;
}

/*Hero Default Blockquote*/
body.dark blockquote.hero.hero-default {
	background: #72c02c;
}

body.dark blockquote.hero.hero-default:hover {
	background: #5fb611;
}

body.dark blockquote.hero.hero-default p {
	color: #fff;
}

/*Hero Dark Blockquote*/
body.dark blockquote.hero.hero-dark {
	background: #444;
}

body.dark blockquote.hero.hero-dark:hover {
	background: #555;
}

/*Dark Blockquote*/
body.dark blockquote.bq-dark,
body.dark blockquote.bq-dark:hover {
	border-color: #303030 !important;
}

body.dark blockquote.hero.hero-dark p,
body.dark blockquote.hero.hero-dark small, 
body.dark blockquote.hero.hero-default small {
	color: #fff;
}

/*Shadow Effect
------------------------------------*/
body.dark .shadow-effect-1 {
	box-shadow: 0 10px 6px -6px #151515;
}

body.dark .shadow-effect-2:after, 
body.dark .shadow-effect-2:before, 
body.dark .shadow-effect-3:before, 
body.dark .shadow-effect-4:after {
	box-shadow: 0 15px 10px #151515;
}

/*Tag Box
------------------------------------*/
body.dark .tag-box {
	background: #202020;
}

body.dark .tag-box-v1,
body.dark .tag-box-v2 {
	border-color: #303030;
}

body.dark .tag-box-v3,
body.dark .tag-box-v4,
body.dark .tag-box-v5,
body.dark .tag-box-v6,
body.dark .tag-box-v7 {
	border-color: #303030;
}

/*Background Light
------------------------------------*/
body.dark .bg-light {
	border-color: #303030;
	background: #202020;
}

body.dark .bg-light i {
	color: #999;
}

body.dark .bg-grey {
	background: #222;
	border-top-color: #222;
	border-bottom-color: #222;
}

/*Testimonials
------------------------------------*/
/*General Testimonials v1/v2*/
body.dark .testimonials.testimonials-v1 p,
body.dark .testimonials.testimonials-v2 p {
	background: #202020;
}

body.dark .testimonials.testimonials-v1 .item p:after,
body.dark .testimonials.testimonials-v2 .item p:after {
	border-top-color: #202020;
}

body.dark .testimonials .testimonial-info img {
	border-color: #999;
}

body.dark .testimonials .carousel-arrow i {
	color: #999;
	background: #202020;
}

body.dark .testimonials.testimonials-v1 .carousel-arrow i:hover {
	color: #fff;
	background: #444;
}

/*Testimonials v6
------------------------------------*/
body.dark .testimonials-v6 .testimonials-info {
	background: #333;
}

/*Bordered Buttons
------------------------------------*/
body.dark .btn-u.btn-brd {
	color: #ddd;
}

/*Dropdown Buttons
------------------------------------*/
body.dark .btn-group .dropdown-menu {
	background: #222;
}

body.dark .btn-group .dropdown-menu li a {
	color: #999;
}

body.dark .btn-group .dropdown-menu .active > a, 
body.dark .btn-group .dropdown-menu li > a:hover {
	color: #999;
}

/*Icons
------------------------------------*/
body.dark i.icon-custom {
	color: #999;
	border-color: #999;
}

body.dark i.icon-bg-dark {
	color: #fff;
	border-color: #fff;
}

/*Icons Color*/
body.dark i.icon-custom.icon-color-u {
   color: #72c02c;
   border: solid 1px #72c02c;
}
body.dark i.icon-custom.icon-color-blue {
   color: #3498db;
   border: solid 1px #3498db;
}
body.dark i.icon-custom.icon-color-red {
   color: #e74c3c;
   border: solid 1px #e74c3c;
}
body.dark i.icon-custom.icon-color-sea {
   color: #1abc9c;
   border: solid 1px #1abc9c;
}
body.dark i.icon-custom.icon-color-green {
   color: #2ecc71;
   border: solid 1px #2ecc71;
}
body.dark i.icon-custom.icon-color-yellow {
   color: #f1c40f;
   border: solid 1px #f1c40f;
}
body.dark i.icon-custom.icon-color-orange {
   color: #e67e22;
   border: solid 1px #e67e22;
}
body.dark i.icon-custom.icon-color-grey {
   color: #95a5a6;
   border: solid 1px #95a5a6;
}
body.dark i.icon-custom.icon-color-purple {
   color: #9b6bcc;
   border: solid 1px #9b6bcc;
}
body.dark i.icon-custom.icon-color-aqua {
   color: #27d7e7;
   border: solid 1px #27d7e7;
}
body.dark i.icon-custom.icon-color-brown {
   color: #9c8061;
   border: solid 1px #9c8061;
}
body.dark i.icon-custom.icon-color-dark-blue {
   color: #4765a0;
   border: solid 1px #4765a0;
}
body.dark i.icon-custom.icon-color-light-green {
   color: #79d5b3;
   border: solid 1px #79d5b3;
}
body.dark i.icon-custom.icon-color-light {
   color: #fff;
   border: solid 1px #fff;
}
body.dark i.icon-custom.icon-color-light-grey {
   color: #585f69;
   border: solid 1px #585f69;
}

/*Icons Backgroun Color*/
body.dark i.icon-custom.icon-bg-u,
body.dark i.icon-custom.icon-bg-red,
body.dark i.icon-custom.icon-bg-sea,
body.dark i.icon-custom.icon-bg-dark,
body.dark i.icon-custom.icon-bg-grey,
body.dark i.icon-custom.icon-bg-blue,
body.dark i.icon-custom.icon-bg-green,
body.dark i.icon-custom.icon-bg-yellow,
body.dark i.icon-custom.icon-bg-orange,
body.dark i.icon-custom.icon-bg-purple,
body.dark i.icon-custom.icon-bg-aqua,
body.dark i.icon-custom.icon-bg-brown,
body.dark i.icon-custom.icon-bg-dark-blue,
body.dark i.icon-custom.icon-bg-light-grey,
body.dark i.icon-custom.icon-bg-light-green {
	color: #fff;
	border: none;
}

/*Team Social
------------------------------------*/
body.dark .team .thumbnail-style {
	background: #292929;
}

body.dark .team .thumbnail-style small {
	color: #555;
}

body.dark .team ul.team-socail li i {
	color: #999;
	background: #222;
}

body.dark .team ul.team-socail li i:hover {
	color: #fff;
	background: #333;
}

/*Item Box
------------------------------------*/
body.dark .line-icon-page .item-box {
	border-color: #303030;
}

body.dark .line-icon-page .item-box:hover {
	background: #222;
}

body.dark .line-icon-page .item {
	color: #999;
}

body.dark .line-icon-page .item:hover {
	color: #72c02c;
}

/*Glyphicons
------------------------------------*/
body.dark .bs-glyphicons li {
	color: #999;
	border-color: #303030;
}

body.dark .bs-glyphicons li:hover {
	color: #72c02c;
	background: #222;
}

/*Service
------------------------------------*/
body.dark .service:hover { 
	box-shadow: none;
	background: #1e1e1e;
}

body.dark .service:hover i {
	color: #999;
}

/*Service Block
------------------------------------*/
body.dark .service-block-default {
	background: #202020;
	border-color: #303030;
}

body.dark .service-block-default i.icon-custom {
	color: #ccc;
	border-color: #ccc;
}

body.dark .service-block-default:hover {
	box-shadow: none;
}

/*Service Block Colors*/
body.dark .service-block.service-block-u h2,
body.dark .service-block.service-block-blue h2,
body.dark .service-block.service-block-red h2,
body.dark .service-block.service-block-sea h2,
body.dark .service-block.service-block-grey h2,
body.dark .service-block.service-block-yellow h2,
body.dark .service-block.service-block-orange h2,
body.dark .service-block.service-block-green h2,
body.dark .service-block.service-block-purple h2,
body.dark .service-block.service-block-aqua h2,
body.dark .service-block.service-block-brown h2,
body.dark .service-block.service-block-dark-blue h2,
body.dark .service-block.service-block-light-green h2,
body.dark .service-block.service-block-dark h2 {
	color: #fff !important;
}

body.dark .service-block.service-block-light h2,
body.dark .service-block.service-block-light p {
	color: #555 !important;
}

body.dark .service-block.service-block-u p,
body.dark .service-block.service-block-blue p,
body.dark .service-block.service-block-red p,
body.dark .service-block.service-block-sea p,
body.dark .service-block.service-block-grey p,
body.dark .service-block.service-block-yellow p,
body.dark .service-block.service-block-orange p,
body.dark .service-block.service-block-green p,
body.dark .service-block.service-block-purple p,
body.dark .service-block.service-block-aqua p,
body.dark .service-block.service-block-brown p,
body.dark .service-block.service-block-dark-blue p,
body.dark .service-block.service-block-light-green p,
body.dark .service-block.service-block-dark p {
	color: #fff !important;
}

/*Service Block v4
------------------------------------*/
body.dark .service-block-v4 {
	background: #444;
}

body.dark .service-block-v4:after {
	border-color: #252525 transparent transparent transparent;
}

/*Service Block v5
------------------------------------*/
body.dark .service-block-v5 {
	background: #333;
}

body.dark .service-block-v5 .service-border {
	border-right-color: #777;
	border-left-color: #777;
}

/*Service Block v8
------------------------------------*/
body.dark .service-block-v8 {
	background: #333;
}

body.dark .service-block-v8 i {
	color: #999;
}

/*Funny Boxes
------------------------------------*/
body.dark .funny-boxes {
	background: #292929 !important;
}

body.dark .funny-boxes h2 a {
	color: #ccc;
}

/*Red Funny Box*/
body.dark .funny-boxes.funny-boxes-red {
  background: #e74c3c;
}

/*Blue Funny Box*/
body.dark .funny-boxes.funny-boxes-blue {
  background: #3498db;
}

/*Grey Funny Box*/
body.dark .funny-boxes.funny-boxes-grey {
  background: #95a5a6;
}

/*Turquoise Funny Box*/
body.dark .funny-boxes.funny-boxes-sea {
  background: #1abc9c;
}

body.dark .funny-boxes.funny-boxes-red h2 a,
body.dark .funny-boxes.funny-boxes-blue h2 a,
body.dark .funny-boxes.funny-boxes-grey h2 a,
body.dark .funny-boxes.funny-boxes-sea h2 a,
body.dark .funny-boxes.funny-boxes-red p,
body.dark .funny-boxes.funny-boxes-blue p,
body.dark .funny-boxes.funny-boxes-grey p,
body.dark .funny-boxes.funny-boxes-sea p {
	color: #fff;
}

/*Content Boxes
------------------------------------*/
body.dark .content-boxes-v2 .link-bg-icon span {
	color: #ccc;
}

/*Thumbnails
------------------------------------*/
body.dark .thumbnail {
	border: none;
	background: none;
}

body.dark .thumbnail-style:hover { 
	box-shadow: none;
}

body.dark .thumbnail h3 a, 
body.dark .thumbnail-style h3 a {
	color: #ccc;
}

body.dark .thumbnail .caption {
	background: #202020;
}

/*Badge
------------------------------------*/
body.dark .badge-sidebar {
	border-color: #303030;
}

body.dark .badge-box-v2 a,
body.dark .badge-box-v1 a {
	border-color: #303030;
}

body.dark .badge-box-v2 a:hover,
body.dark .badge-box-v1 a:hover {
	color: #555;
	border-color: #555;
}

/*Dropdown Show
------------------------------------*/
body.dark .dropdown-show {
	box-shadow: none;
	border-color: #303030;
	background: #252525;
}

body.dark .dropdown-show a {
	color: #999;
}

body.dark .dropdown-menu .divider {
	background: #303030;
}

body.dark .dropdown-menu > li > a:hover,
body.dark .dropdown-menu > li > a:focus {
	color: #ccc;
	background: #777;
}

/*Nav
------------------------------------*/
/*body.dark .nav > li > a:hover,
body.dark .nav > li > a:focus {
	color: #72c02c;
	background: #777;
}*/

/*body.dark .nav > li.active > a:hover,
body.dark .nav > li.active > a:focus {
	color: #fff;
	background: #3888c7;
}*/

/*Progress Bar
------------------------------------*/
body.dark .progress {
	background: #292929;
}

body.dark .progress-bar-dark {
	background: #202020;
}

/*Image Bordered
------------------------------------*/
body.dark img.img-bordered {
	background: #222;
	border-color: #303030;
}

/*Panel 
------------------------------------*/
body.dark .panel {
	background: none;
}

body.dark .panel.panel-default .panel-heading {
	color: #ccc;
	background: #222;
	border-color: #303030;
}

body.dark .panel .panel-title {
	color: inherit;
}

body.dark .panel .panel-body {
	background: #222;
}

/*Pagination
------------------------------------*/
body.dark .pagination > li > a {
	color: #999;
}

body.dark .pagination > li > a:hover {
	color: #fff;
	background: #333;
	border-color: #333;
}

body.dark .pagination > li > a, 
body.dark .pagination > li > span {
	border-color: #303030;
	background: #202020;
}

body.dark .pagination > .active > a,
body.dark .pagination > .active > span,
body.dark .pagination > .active > a:hover,
body.dark .pagination > .active > span:hover,
body.dark .pagination > .active > a:focus,
body.dark .pagination > .active > span:focus {
	color: #fff;
	background: #444;
	border-color: #333;
}

/*Disabled*/
body.dark .pagination > .disabled > span, 
body.dark .pagination > .disabled > span:hover, 
body.dark .pagination > .disabled > span:focus, 
body.dark .pagination > .disabled > a, 
body.dark .pagination > .disabled > a:hover, 
body.dark .pagination > .disabled > a:focus {
	background: #222;
	border-color: #555;
}

body.dark .pager li > a, 
body.dark .pager li > span {
	color: #999;
	border-color: #303030;
	background: #202020;
}

body.dark .pager li > a:hover, 
body.dark .pager li > span:hover {
	color: #fff;
	background: #222;
	border-color: #555;
}

/*Accordion
------------------------------------*/
body.dark .acc-v1 .panel-heading a {
	color: #ccc;
	background: #202020;
}

body.dark .panel-default {
	border-color: #303030;
}

body.dark .panel-group .panel-heading + .panel-collapse .panel-body {
	color: #999;
	background: #222;
	border-top-color: #555;
}

/*Tab Version 2
------------------------------------*/
body.dark .tab-v2 .nav-tabs li.active a {
	color: #999;
	background: #252525;
	border-right-color: #303030;
	border-left-color: #303030;
}

body.dark .tab-v2 .tab-content {
	border-color: #303030;
}

/*Tab Version 3
------------------------------------*/
body.dark .tab-v3 .nav-pills li a:hover, 
body.dark .tab-v3 .nav-pills li.active a {
	color: #fff;
}

body.dark .tab-v3 .nav-pills li a {
	color: #999;
	border-color: #303030;
	background: #202020;
}

body.dark .tab-v3 .tab-content {
	border-color: #303030;
	background: #202020;
}

/*Timeline Ver