/* 
* Version: 1.7
* Dark Blue Color: #4765a0;  
* Dark Blue Hover Color: #324c80;  
* Additional color: #cad9f6;
* rgba(71, 101, 160, 1);
*/

a {
  color: #4765a0;
}
a:focus, 
a:hover, 
a:active {
	color: #4765a0;
}
.color-green {
	color: #4765a0;
}
a.read-more:hover { 
	color:#4765a0; 
}
.linked:hover {
	color:#4765a0;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
  color: #4765a0;
}
.header .navbar-nav > .active > a {
  border-color: #4765a0;
}
.header .dropdown-menu {
	border-top: solid 2px #4765a0;
}
.header .navbar-nav > li:hover > a {
  color: #324c80;
}
.header .nav > li > .search:hover {
  border-bottom-color: #324c80;
  color: #324c80;
}
.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
  border-bottom-color: #4765a0;
}
.header .navbar-toggle {
  border-color: #324c80;
}
.header .navbar-toggle,
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
  background:  #4765a0;
}
.header .navbar-toggle:hover {
  background:  #324c80 !important;
}
.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus {
  color: #4765a0;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header .navbar-nav > .active > a,
	.header .navbar-nav > .active > a:hover,
	.header .navbar-nav > .active > a:focus {
	  background:  #4765a0;
	  color: #fff !important;
	}
	.header .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header .nav > li > .search:hover {
	  background:  #4765a0;
	}
}

/* Headers v1
------------------------------------*/
.header-v1 .navbar-default .navbar-nav > .active > a,
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus {
  color: #4765a0;
}
.header-v1 .dropdown-menu {
  border-color: #4765a0
}
.header-v1 .navbar-default .navbar-nav > li:hover > a {
  color: #4765a0;
}
.header-v1 .navbar .nav > li > .search:hover {
  color: #4765a0;
}
.header-v1 .navbar .nav > li > .search:hover {
  color: #4765a0;
}
.header-v1 .navbar-default .navbar-toggle {
  border-color: #324c80;
}
.header-v1 .navbar-toggle,
.header-v1 .navbar-default .navbar-toggle:hover,
.header-v1 .navbar-default .navbar-toggle:focus {
  background:  #4765a0;
}
.header-v1 .navbar-toggle:hover {
  background:  #324c80 !important;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v1 .navbar-default .navbar-nav > li:hover > a {
  	border-color:  #eee;
	}
	.header-v1 .navbar-default .navbar-nav > .active > a,
	.header-v1 .navbar-default .navbar-nav > .active > a:hover,
	.header-v1 .navbar-default .navbar-nav > .active > a:focus {
	  background-color: #4765a0;
	}
	.header-v1 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v1 .navbar .nav > li > .search:hover {
	  background-color: #4765a0;
	}
}

/* Headers v2
------------------------------------*/
.header-v2 .dropdown-menu {
  border-color: #4765a0;
}
.header-v2 .navbar-default .navbar-toggle {
  border-color: #324c80;
}
.header-v2 .navbar-toggle,
.header-v2 .navbar-default .navbar-toggle:hover,
.header-v2 .navbar-default .navbar-toggle:focus {
  background:  #4765a0;
}
.header-v2 .navbar-toggle:hover {
  background:  #324c80 !important;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v2 .navbar-default .navbar-nav > .active > a,
	.header-v2 .navbar-default .navbar-nav > .active > a:hover,
	.header-v2 .navbar-default .navbar-nav > .active > a:focus {
	  background:  #4765a0;
	  color: #fff !important;
	}
	.header-v2 .navbar-default .navbar-nav > li > a:hover {
   	color: #4765a0;
	}
}	

/* Headers v3
------------------------------------*/
.header-v3 .navbar-default .navbar-nav > .active > a {
  color: #4765a0;
}
.header-v3 .navbar-default .navbar-nav > li:hover > a {
  color: #324c80;
}
.header-v3 .dropdown-menu {
  border-color: #4765a0;
}
.header-v3 .navbar-default .navbar-toggle {
  border-color: #324c80;
}
.header-v3 .navbar-toggle,
.header-v3 .navbar-default .navbar-toggle:hover,
.header-v3 .navbar-default .navbar-toggle:focus {
  background:  #4765a0;
}
.header-v3 .navbar-toggle:hover {
  background:  #324c80 !important;
}
.header-v3 .navbar .nav > li > .search:hover {
  background: inherit;
  color: #4765a0;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {

	.header-v3 .navbar-default .navbar-nav > .active > a,
	.header-v3 .navbar-default .navbar-nav > .active > a:hover,
	.header-v3 .navbar-default .navbar-nav > .active > a:focus {
	  background:  #4765a0;
	  color: #fff !important;
	}
	.header-v3 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v3 .navbar .nav > li > .search:hover {
	  background:  #4765a0;
	}
}	

/* Headers v4
------------------------------------*/
.header-v4 .navbar-default .navbar-nav > li > a:hover, 
.header-v4 .navbar-default .navbar-nav > .active > a {
  border-color: #4765a0;
}
.header-v4 .navbar-default .navbar-nav > .active > a {
  color: #4765a0;
}
.header-v4 .navbar-default .navbar-nav > li:hover > a {
  border-color:  #4765a0;
  color: #324c80;
}
.header-v4 .navbar .nav > li > .search:hover {
  color: #4765a0;
}
.header-v4 .navbar-default .navbar-nav > .open > a,
.header-v4 .navbar-default .navbar-nav > .open > a:hover,
.header-v4 .navbar-default .navbar-nav > .open > a:focus {
  color: #4765a0;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v4 .navbar-default .navbar-nav > li:hover > a {
  border-color:  #eee;
	}
	.header-v4 .navbar-default .navbar-nav > .active > a,
	.header-v4 .navbar-default .navbar-nav > .active > a:hover,
	.header-v4 .navbar-default .navbar-nav > .active > a:focus {
	  color: #4765a0 !important;
	}
	.header-v4 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v4 .navbar .nav > li > .search:hover {
	  background:  #4765a0;
	}
}

/* Headers v5
------------------------------------*/
.header-v5 .navbar-default .navbar-nav > li > a:hover,
.header-v5 .navbar-default .navbar-nav > .active > a {
  border-top: 2px solid #4765a0;
}
.header-v5 .navbar-default .navbar-nav > .active > a {
  color: #4765a0;
}
.header-v5 .navbar-default .navbar-nav > li:hover > a {
  color: #4765a0;
}
.header-v5 .navbar-default .navbar-nav > .open > a,
.header-v5 .navbar-default .navbar-nav > .open > a:hover,
.header-v5 .navbar-default .navbar-nav > .open > a:focus {
  color: #4765a0;
}
.header-v5 .dropdown-menu li > a:hover {
  background:  #4765a0;
}
.header-v5 .dropdown-menu .active > a,
.header-v5 .dropdown-menu li > a:hover {
  background:  #4765a0;
}
.header-v5 .dropdown-menu {
  border-color: #4765a0;
}
.header-v5 .dropdown-menu li.dropdown-submenu:hover > a {
  background:  #4765a0;
}
.header-v5 .dropdown-menu .style-list li > a:hover {
  background: none;
}
.header-v5 .style-list li a:hover {
  color: #4765a0;
}

/* Shopping cart
------------------------------------*/
.header-v5 .shop-badge.badge-icons i {
  color: #4765a0;
}
.header-v5 .shop-badge span.badge-sea {
  background:  #4765a0;
}
.header-v5 .badge-open {
  border-top: 2px solid #4765a0;
  box-shadow: 0 5px 5px 0 rgba(71, 101, 160, 0.075);
}

/* Header v6
------------------------------------*/
/* Search */
.header-v6 .shopping-cart .shopping-cart-open {
	border-top-color: #4765a0 !important;
}
.header-v6 li.menu-icons span.badge {
	background: #4765a0;
}
/* Dropdown Menu */
.header-v6 .dropdown-menu {
	border-top-color: #4765a0;
}

/* Media Queries */
@media (max-width: 991px) {
	/* Navbar Nav */
	.header-v6 .navbar-nav > .active > a,
	.header-v6 .navbar-nav > .active > a:hover,
	.header-v6 .navbar-nav > .active > a:focus {
		color: #4765a0 !important;
	}
	.header-v6 .nav .open > a,
	.header-v6 .nav .open > a:hover,
	.header-v6 .nav .open > a:focus {
	  border-color: #eee;
	}
	.header-v6 .navbar-nav > li > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > li > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > li > a:focus,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #4765a0 !important;
	}
	.header-v6 .mega-menu .equal-height-list li a:hover {
		color: #4765a0 !important;
	}

	/* Classic Dark */
	.header-v6 .mega-menu .equal-height-list li a:hover {
		color: #4765a0;
	}

	/* Dark Responsive Navbar */
	.header-v6.header-dark-res-nav .navbar-nav > li a:hover,
	.header-v6.header-dark-res-nav .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #4765a0;
	}
	.header-v6.header-dark-res-nav .nav .open > a,
	.header-v6.header-dark-res-nav .nav .open > a:hover,
	.header-v6.header-dark-res-nav .nav .open > a:focus {
	  border-color: #555;
	}
}

@media (min-width: 992px) {
	/* Default Style */
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover {
		color: #4765a0 !important;
	}
	.header-v6 .dropdown-menu .active > a,
	.header-v6 .dropdown-menu li > a:hover,
	.header-fixed .header-v6.header-fixed-shrink .dropdown-menu .active > a,
	.header-fixed .header-v6.header-fixed-shrink .dropdown-menu li > a:hover {
		color: #4765a0 !important;
	}
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover {
		color: #4765a0;
	}

	/* Classic White */
	.header-fixed .header-v6.header-classic-white .navbar-nav .active > a,
	.header-fixed .header-v6.header-classic-white .navbar-nav li > a:hover {
		color: #4765a0;
	}

	/* Classic Dark */
	.header-v6.header-classic-dark .navbar-nav .active > a,
	.header-v6.header-classic-dark .navbar-nav li > a:hover,
	.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav li > a:hover {
		color: #4765a0;
	}
	.header-v6.header-classic-dark .dropdown-menu .active > a,
	.header-v6.header-classic-dark .dropdown-menu li > a:hover {
		color: #4765a0 !important;
	}

	/* Dark Dropdown */
	.header-v6.header-dark-dropdown .dropdown-menu .active > a,
	.header-v6.header-dark-dropdown .dropdown-menu li > a:hover {
		color: #4765a0;
	}

	/* Dark Scroll */
	.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav li > a:hover {
		color: #4765a0;
	}
}

/* Header v7
------------------------------------*/
.header-v7 .navbar-default .navbar-nav > li > a:hover,
.header-v7 .navbar-default .navbar-nav > li.active > a {
	color: #4765a0 !important;
}
.header-v7 .dropdown-menu .active > a,
.header-v7 .dropdown-menu li > a:focus,
.header-v7 .dropdown-menu li > a:hover {
	color: #4765a0 !important;
}
.header-v7 .navbar-default .navbar-nav > li > a:hover,
.header-v7 .navbar-default .navbar-nav > li > a:focus,
.header-v7 .navbar-default .navbar-nav > .active > a,
.header-v7 .navbar-default .navbar-nav > .active > a:hover,
.header-v7 .navbar-default .navbar-nav > .active > a:focus {
	color: #4765a0;
}
.header-socials li a:hover {
  color: #4765a0;
}

/* Sliders
------------------------------------*/
/* Main Parallax Sldier */
.da-slide h2 i {
	background-color: rgba(71, 101, 160, 0.8);
}

/* Sequence Parallax Sldier */
.sequence-inner {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#cad9f6));
  background: -webkit-linear-gradient(#fff, #cad9f6);
  background: -moz-linear-gradient(#fff, #cad9f6);
  background: -ms-linear-gradient(#fff, #cad9f6);
  background: -o-linear-gradient(#fff, #cad9f6);
  background: linear-gradient(#fff, #cad9f6)
}
#sequence-theme h2 {
	background: rgba(71, 101, 160, 0.8);
}
#sequence-theme .info p {
	background: rgba(71, 101, 160, 0.8);
}

/* Buttons
------------------------------------*/
.btn-u {
	background: #4765a0;
}
.btn-u:hover, 
.btn-u:focus, 
.btn-u:active, 
.btn-u.active, 
.open .dropdown-toggle.btn-u {
	background: #324c80;
	color: #fff;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
   border-left: solid 1px #324c80;