/* 
* Version: 1.7
* Light Color: #95a5a6; 
* Light Hover Color: #7f8c8d; 
* Additional color: #f0f0f0;
* rgba(149, 165, 166, 1);
*/

a {
  color: #95a5a6;
}
a:focus, 
a:hover, 
a:active {
	color: #95a5a6;
}
.color-green {
	color: #95a5a6;
}
a.read-more:hover { 
	color:#95a5a6; 
}
.linked:hover {
	color:#95a5a6;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
  color: #95a5a6;
}
.header .navbar-nav > .active > a {
  border-color: #95a5a6;
}
.header .dropdown-menu {
	border-top: solid 2px #95a5a6;
}
.header .navbar-nav > li:hover > a {
  color: #7f8c8d;
}
.header .nav > li > .search:hover {
  border-bottom-color: #7f8c8d;
  color: #7f8c8d;
}
.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
  border-bottom-color: #95a5a6;
}
.header .navbar-toggle {
  border-color: #7f8c8d;
}
.header .navbar-toggle,
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
  background:  #95a5a6;
}
.header .navbar-toggle:hover {
  background:  #7f8c8d !important;
}
.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus {
  color: #95a5a6;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header .navbar-nav > .active > a,
	.header .navbar-nav > .active > a:hover,
	.header .navbar-nav > .active > a:focus {
	  background:  #95a5a6;
	  color: #fff !important;
	}
	.header .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header .nav > li > .search:hover {
	  background:  #95a5a6;
	}
}

/* Headers v1
------------------------------------*/
.header-v1 .navbar-default .navbar-nav > .active > a,
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus {
  color: #95a5a6;
}
.header-v1 .dropdown-menu {
  border-color: #95a5a6
}
.header-v1 .navbar-default .navbar-nav > li:hover > a {
  color: #95a5a6;
}
.header-v1 .navbar .nav > li > .search:hover {
  color: #95a5a6;
}
.header-v1 .navbar .nav > li > .search:hover {
  color: #95a5a6;
}
.header-v1 .navbar-default .navbar-toggle {
  border-color: #7f8c8d;
}
.header-v1 .navbar-toggle,
.header-v1 .navbar-default .navbar-toggle:hover,
.header-v1 .navbar-default .navbar-toggle:focus {
  background:  #95a5a6;
}
.header-v1 .navbar-toggle:hover {
  background:  #7f8c8d !important;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v1 .navbar-default .navbar-nav > li:hover > a {
  	border-color:  #eee;
	}
	.header-v1 .navbar-default .navbar-nav > .active > a,
	.header-v1 .navbar-default .navbar-nav > .active > a:hover,
	.header-v1 .navbar-default .navbar-nav > .active > a:focus {
	  background-color: #95a5a6;
	}
	.header-v1 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v1 .navbar .nav > li > .search:hover {
	  background-color: #95a5a6;
	}
}

/* Headers v2
------------------------------------*/
.header-v2 .dropdown-menu {
  border-color: #95a5a6;
}
.header-v2 .navbar-default .navbar-toggle {
  border-color: #7f8c8d;
}
.header-v2 .navbar-toggle,
.header-v2 .navbar-default .navbar-toggle:hover,
.header-v2 .navbar-default .navbar-toggle:focus {
  background:  #95a5a6;
}
.header-v2 .navbar-toggle:hover {
  background:  #7f8c8d !important;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v2 .navbar-default .navbar-nav > .active > a,
	.header-v2 .navbar-default .navbar-nav > .active > a:hover,
	.header-v2 .navbar-default .navbar-nav > .active > a:focus {
	  background:  #95a5a6;
	  color: #fff !important;
	}
	.header-v2 .navbar-default .navbar-nav > li > a:hover {
   	color: #95a5a6;
	}
}	

/* Headers v3
------------------------------------*/
.header-v3 .navbar-default .navbar-nav > .active > a {
  color: #95a5a6;
}
.header-v3 .navbar-default .navbar-nav > li:hover > a {
  color: #7f8c8d;
}
.header-v3 .dropdown-menu {
  border-color: #95a5a6;
}
.header-v3 .navbar-default .navbar-toggle {
  border-color: #7f8c8d;
}
.header-v3 .navbar-toggle,
.header-v3 .navbar-default .navbar-toggle:hover,
.header-v3 .navbar-default .navbar-toggle:focus {
  background:  #95a5a6;
}
.header-v3 .navbar-toggle:hover {
  background:  #7f8c8d !important;
}
.header-v3 .navbar .nav > li > .search:hover {
  background: inherit;
  color: #95a5a6;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {

	.header-v3 .navbar-default .navbar-nav > .active > a,
	.header-v3 .navbar-default .navbar-nav > .active > a:hover,
	.header-v3 .navbar-default .navbar-nav > .active > a:focus {
	  background:  #95a5a6;
	  color: #fff !important;
	}
	.header-v3 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v3 .navbar .nav > li > .search:hover {
	  background:  #95a5a6;
	}
}	

/* Headers v4
------------------------------------*/
.header-v4 .navbar-default .navbar-nav > li > a:hover, 
.header-v4 .navbar-default .navbar-nav > .active > a {
  border-color: #95a5a6;
}
.header-v4 .navbar-default .navbar-nav > .active > a {
  color: #95a5a6;
}
.header-v4 .navbar-default .navbar-nav > li:hover > a {
  border-color:  #95a5a6;
  color: #7f8c8d;
}
.header-v4 .navbar .nav > li > .search:hover {
  color: #95a5a6;
}
.header-v4 .navbar-default .navbar-nav > .open > a,
.header-v4 .navbar-default .navbar-nav > .open > a:hover,
.header-v4 .navbar-default .navbar-nav > .open > a:focus {
  color: #95a5a6;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v4 .navbar-default .navbar-nav > li:hover > a {
  border-color:  #eee;
	}
	.header-v4 .navbar-default .navbar-nav > .active > a,
	.header-v4 .navbar-default .navbar-nav > .active > a:hover,
	.header-v4 .navbar-default .navbar-nav > .active > a:focus {
	  color: #95a5a6 !important;
	}
	.header-v4 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v4 .navbar .nav > li > .search:hover {
	  background:  #95a5a6;
	}
}

/* Headers v5
------------------------------------*/
.header-v5 .navbar-default .navbar-nav > li > a:hover,
.header-v5 .navbar-default .navbar-nav > .active > a {
  border-top: 2px solid #95a5a6;
}
.header-v5 .navbar-default .navbar-nav > .active > a {
  color: #95a5a6;
}
.header-v5 .navbar-default .navbar-nav > li:hover > a {
  color: #95a5a6;
}
.header-v5 .navbar-default .navbar-nav > .open > a,
.header-v5 .navbar-default .navbar-nav > .open > a:hover,
.header-v5 .navbar-default .navbar-nav > .open > a:focus {
  color: #95a5a6;
}
.header-v5 .dropdown-menu li > a:hover {
  background:  #95a5a6;
}
.header-v5 .dropdown-menu .active > a,
.header-v5 .dropdown-menu li > a:hover {
  background:  #95a5a6;
}
.header-v5 .dropdown-menu {
  border-color: #95a5a6;
}
.header-v5 .dropdown-menu li.dropdown-submenu:hover > a {
  background:  #95a5a6;
}
.header-v5 .dropdown-menu .style-list li > a:hover {
  background: none;
}
.header-v5 .style-list li a:hover {
  color: #95a5a6;
}

/* Shopping cart
------------------------------------*/
.header-v5 .shop-badge.badge-icons i {
  color: #95a5a6;
}
.header-v5 .shop-badge span.badge-sea {
  background:  #95a5a6;
}
.header-v5 .badge-open {
  border-top: 2px solid #95a5a6;
  box-shadow: 0 5px 5px 0 rgba(149, 165, 166, 0.075);
}

/* Header v6
------------------------------------*/
/* Search */
.header-v6 .shopping-cart .shopping-cart-open {
	border-top-color: #95a5a6 !important;
}
.header-v6 li.menu-icons span.badge {
	background: #95a5a6;
}
/* Dropdown Menu */
.header-v6 .dropdown-menu {
	border-top-color: #95a5a6;
}

/* Media Queries */
@media (max-width: 991px) {
	/* Navbar Nav */
	.header-v6 .navbar-nav > .active > a,
	.header-v6 .navbar-nav > .active > a:hover,
	.header-v6 .navbar-nav > .active > a:focus {
		color: #95a5a6 !important;
	}
	.header-v6 .nav .open > a,
	.header-v6 .nav .open > a:hover,
	.header-v6 .nav .open > a:focus {
	  border-color: #eee;
	}
	.header-v6 .navbar-nav > li > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > li > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > li > a:focus,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #95a5a6 !important;
	}
	.header-v6 .mega-menu .equal-height-list li a:hover {
		color: #95a5a6 !important;
	}

	/* Classic Dark */
	.header-v6 .mega-menu .equal-height-list li a:hover {
		color: #95a5a6;
	}

	/* Dark Responsive Navbar */
	.header-v6.header-dark-res-nav .navbar-nav > li a:hover,
	.header-v6.header-dark-res-nav .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #95a5a6;
	}
	.header-v6.header-dark-res-nav .nav .open > a,
	.header-v6.header-dark-res-nav .nav .open > a:hover,
	.header-v6.header-dark-res-nav .nav .open > a:focus {
	  border-color: #555;
	}
}

@media (min-width: 992px) {
	/* Default Style */
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover {
		color: #95a5a6 !important;
	}
	.header-v6 .dropdown-menu .active > a,
	.header-v6 .dropdown-menu li > a:hover,
	.header-fixed .header-v6.header-fixed-shrink .dropdown-menu .active > a,
	.header-fixed .header-v6.header-fixed-shrink .dropdown-menu li > a:hover {
		color: #95a5a6 !important;
	}
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover {
		color: #95a5a6;
	}

	/* Classic White */
	.header-fixed .header-v6.header-classic-white .navbar-nav .active > a,
	.header-fixed .header-v6.header-classic-white .navbar-nav li > a:hover {
		color: #95a5a6;
	}

	/* Classic Dark */
	.header-v6.header-classic-dark .navbar-nav .active > a,
	.header-v6.header-classic-dark .navbar-nav li > a:hover,
	.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav li > a:hover {
		color: #95a5a6;
	}
	.header-v6.header-classic-dark .dropdown-menu .active > a,
	.header-v6.header-classic-dark .dropdown-menu li > a:hover {
		color: #95a5a6 !important;
	}

	/* Dark Dropdown */
	.header-v6.header-dark-dropdown .dropdown-menu .active > a,
	.header-v6.header-dark-dropdown .dropdown-menu li > a:hover {
		color: #95a5a6;
	}

	/* Dark Scroll */
	.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav li > a:hover {
		color: #95a5a6;
	}
}

/* Header v7
------------------------------------*/
.header-v7 .navbar-default .navbar-nav > li > a:hover,
.header-v7 .navbar-default .navbar-nav > li.active > a {
	color: #95a5a6 !important;
}
.header-v7 .dropdown-menu .active > a,
.header-v7 .dropdown-menu li > a:focus,
.header-v7 .dropdown-menu li > a:ho