/* 
* Version: 1.7
* Orange Color: #e67e22; 
* Orange Hover Color: #d35400; 
* Additional color: #fcf2de;
* rgba(230, 126, 34, 1);
*/

a {
  color: #e67e22;
}
a:focus, 
a:hover, 
a:active {
	color: #e67e22;
}
.color-green {
	color: #e67e22;
}
a.read-more:hover { 
	color:#e67e22; 
}
.linked:hover {
	color:#e67e22;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
  color: #e67e22;
}
.header .navbar-nav > .active > a {
  border-color: #e67e22;
}
.header .dropdown-menu {
	border-top: solid 2px #e67e22;
}
.header .navbar-nav > li:hover > a {
  color: #d35400;
}
.header .nav > li > .search:hover {
  border-bottom-color: #d35400;
  color: #d35400;
}
.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
  border-bottom-color: #e67e22;
}
.header .navbar-toggle {
  border-color: #d35400;
}
.header .navbar-toggle,
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
  background:  #e67e22;
}
.header .navbar-toggle:hover {
  background:  #d35400 !important;
}
.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus {
  color: #e67e22;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header .navbar-nav > .active > a,
	.header .navbar-nav > .active > a:hover,
	.header .navbar-nav > .active > a:focus {
	  background:  #e67e22;
	  color: #fff !important;
	}
	.header .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header .nav > li > .search:hover {
	  background:  #e67e22;
	}
}

/* Headers v1
------------------------------------*/
.header-v1 .navbar-default .navbar-nav > .active > a,
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus {
  color: #e67e22;
}
.header-v1 .dropdown-menu {
  border-color: #e67e22
}
.header-v1 .navbar-default .navbar-nav > li:hover > a {
  color: #e67e22;
}
.header-v1 .navbar .nav > li > .search:hover {
  color: #e67e22;
}
.header-v1 .navbar .nav > li > .search:hover {
  color: #e67e22;
}
.header-v1 .navbar-default .navbar-toggle {
  border-color: #d35400;
}
.header-v1 .navbar-toggle,
.header-v1 .navbar-default .navbar-toggle:hover,
.header-v1 .navbar-default .navbar-toggle:focus {
  background:  #e67e22;
}
.header-v1 .navbar-toggle:hover {
  background:  #d35400 !important;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v1 .navbar-default .navbar-nav > li:hover > a {
  	border-color:  #eee;
	}
	.header-v1 .navbar-default .navbar-nav > .active > a,
	.header-v1 .navbar-default .navbar-nav > .active > a:hover,
	.header-v1 .navbar-default .navbar-nav > .active > a:focus {
	  background-color: #e67e22;
	}
	.header-v1 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v1 .navbar .nav > li > .search:hover {
	  background-color: #e67e22;
	}
}

/* Headers v2
------------------------------------*/
.header-v2 .dropdown-menu {
  border-color: #e67e22;
}
.header-v2 .navbar-default .navbar-toggle {
  border-color: #d35400;
}
.header-v2 .navbar-toggle,
.header-v2 .navbar-default .navbar-toggle:hover,
.header-v2 .navbar-default .navbar-toggle:focus {
  background:  #e67e22;
}
.header-v2 .navbar-toggle:hover {
  background:  #d35400 !important;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v2 .navbar-default .navbar-nav > .active > a,
	.header-v2 .navbar-default .navbar-nav > .active > a:hover,
	.header-v2 .navbar-default .navbar-nav > .active > a:focus {
	  background:  #e67e22;
	  color: #fff !important;
	}
	.header-v2 .navbar-default .navbar-nav > li > a:hover {
   	color: #e67e22;
	}
}	

/* Headers v3
------------------------------------*/
.header-v3 .navbar-default .navbar-nav > .active > a {
  color: #e67e22;
}
.header-v3 .navbar-default .navbar-nav > li:hover > a {
  color: #d35400;
}
.header-v3 .dropdown-menu {
  border-color: #e67e22;
}
.header-v3 .navbar-default .navbar-toggle {
  border-color: #d35400;
}
.header-v3 .navbar-toggle,
.header-v3 .navbar-default .navbar-toggle:hover,
.header-v3 .navbar-default .navbar-toggle:focus {
  background:  #e67e22;
}
.header-v3 .navbar-toggle:hover {
  background:  #d35400 !important;
}
.header-v3 .navbar .nav > li > .search:hover {
  background: inherit;
  color: #e67e22;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {

	.header-v3 .navbar-default .navbar-nav > .active > a,
	.header-v3 .navbar-default .navbar-nav > .active > a:hover,
	.header-v3 .navbar-default .navbar-nav > .active > a:focus {
	  background:  #e67e22;
	  color: #fff !important;
	}
	.header-v3 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v3 .navbar .nav > li > .search:hover {
	  background:  #e67e22;
	}
}	

/* Headers v4
------------------------------------*/
.header-v4 .navbar-default .navbar-nav > li > a:hover, 
.header-v4 .navbar-default .navbar-nav > .active > a {
  border-color: #e67e22;
}
.header-v4 .navbar-default .navbar-nav > .active > a {
  color: #e67e22;
}
.header-v4 .navbar-default .navbar-nav > li:hover > a {
  border-color:  #e67e22;
  color: #d35400;
}
.header-v4 .navbar .nav > li > .search:hover {
  color: #e67e22;
}
.header-v4 .navbar-default .navbar-nav > .open > a,
.header-v4 .navbar-default .navbar-nav > .open > a:hover,
.header-v4 .navbar-default .navbar-nav > .open > a:focus {
  color: #e67e22;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header-v4 .navbar-default .navbar-nav > li:hover > a {
  border-color:  #eee;
	}
	.header-v4 .navbar-default .navbar-nav > .active > a,
	.header-v4 .navbar-default .navbar-nav > .active > a:hover,
	.header-v4 .navbar-default .navbar-nav > .active > a:focus {
	  color: #e67e22 !important;
	}
	.header-v4 .navbar-default .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header-v4 .navbar .nav > li > .search:hover {
	  background:  #e67e22;
	}
}

/* Headers v5
------------------------------------*/
.header-v5 .navbar-default .navbar-nav > li > a:hover,
.header-v5 .navbar-default .navbar-nav > .active > a {
  border-top: 2px solid #e67e22;
}
.header-v5 .navbar-default .navbar-nav > .active > a {
  color: #e67e22;
}
.header-v5 .navbar-default .navbar-nav > li:hover > a {
  color: #e67e22;
}
.header-v5 .navbar-default .navbar-nav > .open > a,
.header-v5 .navbar-default .navbar-nav > .open > a:hover,
.header-v5 .navbar-default .navbar-nav > .open > a:focus {
  color: #e67e22;
}
.header-v5 .dropdown-menu li > a:hover {
  background:  #e67e22;
}
.header-v5 .dropdown-menu .active > a,
.header-v5 .dropdown-menu li > a:hover {
  background:  #e67e22;
}
.header-v5 .dropdown-menu {
  border-color: #e67e22;
}
.header-v5 .dropdown-menu li.dropdown-submenu:hover > a {
  background:  #e67e22;
}
.header-v5 .dropdown-menu .style-list li > a:hover {
  background: none;
}
.header-v5 .style-list li a:hover {
  color: #e67e22;
}

/* Shopping cart
------------------------------------*/
.header-v5 .shop-badge.badge-icons i {
  color: #e67e22;
}
.header-v5 .shop-badge span.badge-sea {
  background:  #e67e22;
}
.header-v5 .badge-open {
  border-top: 2px solid #e67e22;
  box-shadow: 0 5px 5px 0 rgba(230, 126, 34, 0.075);
}

/* Header v6
------------------------------------*/
/* Search */
.header-v6 .shopping-cart .shopping-cart-open {
	border-top-color: #e67e22 !important;
}
.header-v6 li.menu-icons span.badge {
	background: #e67e22;
}
/* Dropdown Menu */
.header-v6 .dropdown-menu {
	border-top-color: #e67e22;
}

/* Media Queries */
@media (max-width: 991px) {
	/* Navbar Nav */
	.header-v6 .navbar-nav > .active > a,
	.header-v6 .navbar-nav > .active > a:hover,
	.header-v6 .navbar-nav > .active > a:focus {
		color: #e67e22 !important;
	}
	.header-v6 .nav .open > a,
	.header-v6 .nav .open > a:hover,
	.header-v6 .nav .open > a:focus {
	  border-color: #eee;
	}
	.header-v6 .navbar-nav > li > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > li > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > li > a:focus,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a:hover,
	.header-v6 .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #e67e22 !important;
	}
	.header-v6 .mega-menu .equal-height-list li a:hover {
		color: #e67e22 !important;
	}

	/* Classic Dark */
	.header-v6 .mega-menu .equal-height-list li a:hover {
		color: #e67e22;
	}

	/* Dark Responsive Navbar */
	.header-v6.header-dark-res-nav .navbar-nav > li a:hover,
	.header-v6.header-dark-res-nav .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #e67e22;
	}
	.header-v6.header-dark-res-nav .nav .open > a,
	.header-v6.header-dark-res-nav .nav .open > a:hover,
	.header-v6.header-dark-res-nav .nav .open > a:focus {
	  border-color: #555;
	}
}

@media (min-width: 992px) {
	/* Default Style */
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover {
		color: #e67e22 !important;
	}
	.header-v6 .dropdown-menu .active > a,
	.header-v6 .dropdown-menu li > a:hover,
	.header-fixed .header-v6.header-fixed-shrink .dropdown-menu .active > a,
	.header-fixed .header-v6.header-fixed-shrink .dropdown-menu li > a:hover {
		color: #e67e22 !important;
	}
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover {
		color: #e67e22;
	}

	/* Classic White */
	.header-fixed .header-v6.header-classic-white .navbar-nav .active > a,
	.header-fixed .header-v6.header-classic-white .navbar-nav li > a:hover {
		color: #e67e22;
	}

	/* Classic Dark */
	.header-v6.header-classic-dark .navbar-nav .active > a,
	.header-v6.header-classic-dark .navbar-nav li > a:hover,
	.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav li > a:hover {
		color: #e67e22;
	}
	.header-v6.header-classic-dark .dropdown-menu .active > a,
	.header-v6.header-classic-dark .dropdown-menu li > a:hover {
		color: #e67e22 !important;
	}

	/* Dark Dropdown */
	.header-v6.header-dark-dropdown .dropdown-menu .active > a,
	.header-v6.header-dark-dropdown .dropdown-menu li > a:hover {
		color: #e67e22;
	}

	/* Dark Scroll */
	.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav .active > a,
	.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav li > a:hover {
		color: #e67e22;
	}
}

/* Header v7
------------------------------------*/
.header-v7 .navbar-default .navbar-nav > li > a:hover,
.header-v7 .navbar-default .navbar-nav > li.active > a {
	color: #e67e22 !important;
}
.header-v7 .dropdown-menu .active > a,
.header-v7 .dropdown-menu li > a:focus,
.header-v7 .dropdown-menu li > a:hover {
	color: #e67e22 !important;
}
.header-v7 .navbar-default .navbar-nav > li > a:hover,
.header-v7 .navbar-default .navbar-nav > li > a:focus,
.header-v7 .navbar-default .navbar-nav > .active > a,
.header-v7 .navbar-default .navbar-nav > .active > a:hover,
.header-v7 .navbar-default .navbar-nav > .active > a:focus {
	color: #e67e22;
}
.header-socials li a:hover {
  color: #e67e22;
}

/* Sliders
------------------------------------*/
/* Main Parallax Sldier */
.da-slide h2 i {
	background-color: rgba(230, 126, 34, 0.8);
}

/* Sequence Parallax Sldier */
.sequence-inner {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#fcf2de));
  background: -webkit-linear-gradient(#fff, #fcf2de);
  background: -moz-linear-gradient(#fff, #fcf2de);
  background: -ms-linear-gradient(#fff, #fcf2de);
  background: -o-linear-gradient(#fff, #fcf2de);
  background: linear-gradient(#fff, #fcf2de)
}
#sequence-theme h2 {
	background: rgba(230, 126, 34, 0.8);
}
#sequence-theme .info p {
	background: rgba(230, 126, 34, 0.8);
}

/* Buttons
------------------------------------*/
.btn-u {
	background: #e67e22;
}
.btn-u:hover, 
.btn-u:focus, 
.btn-u:active, 
.btn-u.active, 
.open .dropdown-toggle.btn-u {
	background: #d35400;
	color: #fff;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
   border-left: solid 1px #d35400;
}

/* Bordered Buttons */
.btn-u.btn-brd {
  border-color: #e67e22;
}
.btn-u.btn-brd:hover {
  color: #d35400;
  border-color: #d35400;
}
.btn-u.btn-brd.btn-brd-hover:hover {
  background: #d35400;   
}

/* Service
------------------------------------*/
.service .service-icon {
	color:#e67e22;	
}

/* Service Blocks */
.service-alternative .service:hover { 
	background:#e67e22;
} 

/* Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
	color:#e67e22;
}
.thumbnail-style a.btn-more {
	background:#e67e22;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px #d35400;
}

/* Typography
------------------------------------*/
/* Heading */
.headline h2, 
.headline h3, 
.headline h4 {
	border-bottom:2px solid #e67e22;
}

/* Blockquote */
blockquote:hover {
	border-left-color:#e67e22; 
}
.hero {
	border-left-color: #e67e22;
}
blockquote.hero.hero-default {
  background: #e67e22;
}
blockquote.hero.hero-default:hover {
  background: #d35400;
}

/* Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: #e67e22;
}

/* Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: #e67e22;
}

/* Footer Blog */
.footer .dl-horizontal a:hover {
	color:#e67e22 !important;
}

/* B