/* Add here all your css styles (customizations) */
/* Add here all your css styles (customizations) */

#container{
    margin:0 auto;
    width:100%;
    height: 100px;
}

#container-content{
    border:solid 1px #cccccc;
    padding:20px;
    width:100%;

    color:#cccccc;
}

#info_box{
    padding:60px 50px 0px 10px;
    border:solid 1px #dedede;
    width:538px;
    background-color:#fcfcfc;
    margin-top:88px;
}

#profile_img{
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    margin-left: 10px;
    margin-top: -100px;
    position: absolute;
    width: 86px;
    height: 86px;
    float:left;
}

.avatar_img{
    padding:3px;
    width: 85px;
    height: 85px;
}

#cover_container{
    overflow: auto;
    width: 100%;
    height:150px;

}

#info-box{
    margin-left:115px;
    margin-top: -50px;
    position: absolute;
}

#info-name{
    float:left;
    overflow:hidden;
    word-wrap: break-word;
    width:400px;
}

#info-content{
    margin-left:170px;
    width:290px;
}

#info-photos{
    text-align:center;
    font-size:11px;
    padding:5px;
    float:left;
    width:80px;
    border:solid 1px #eeeeee;
    -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#info-friends{
    text-align:center;
    font-size:11px;
    padding:5px;
    margin-left:100px;
    border:solid 1px #eeeeee;
    width:80px;
    -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

/*-------------------------------------------------------------------------*/
.link_button {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    color:#72c02c;
    cursor: pointer;
}
.business_dir { margin-top: 1%;}
.sort_btn {color: #687074;}
.active_1 {color: #72c02c !important;}
.eye_cls { margin-left: 14%;}
.fa-star-o {font-size: 2em !important;}
.fa-star {font-size: 2em !important;}
.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}
.img_adverting { max-width: 100%;}
.view_count {  background: #eee none repeat scroll 0 0;
               color: #555;
               display: inline-block;
               font-size: 16px;
               height: 40px;
               padding: 13px;
               text-align: center;
               width: 40px;}
.count_v {
    background: #72c02c none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50% !important;
    color: #fff;
    font-size: 10px;
    height: 22px;
    line-height: 10px;
    padding: 4px;
    position: absolute;
    right: 453px;
    text-align: center;
    top: 233px;
    width: 22px;
}
.m_top { margin-top:1%;}	
.pgwSlideshow .ps-current > ul > li img {
    display: block;
    margin: -40px !important;
    max-width: 105% !important;
}
.ps-list { margin-top: -5% !important;}
.fl_slider { background: #eee;}