/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.pricing {
	position:relative;
	border-radius:3px;
	margin-bottom:15px;
	box-shadow:0 0 5px #eee;
}
.pricing:hover {
	box-shadow:0 0 15px #b5b5b5;
}
.pricing:hover h4 {
	color:#74C52C;
}
.pricing-head {
	text-align:center;
}
.pricing h3,
.pricing h4 {
	margin:0;
	line-height:normal;
	font-weight:bold !important;
}
.pricing p {
	padding-top: 10px;
	font-size: 11px;
}
.pricing-head h3 span, 
.pricing-head h4 span {
	display:block;
	margin-top:5px;
	font-size:12px;
	font-style:italic;
}
.pricing-head h3 {
	color:#fafafa;
	padding:12px 0;
	font-size:35px;
	font-family:Arial;
	background:#74C52C;
	border-radius:3px 3px 0 0;
	text-shadow:0 1px 0 #32a20f;
}
.pricing-head h4 {
	color: #888;
	padding:5px 0;
	font-size:70px;
	text-shadow:0 1px 0 #fff;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-head h4 i {
	top:-8px;
	font-size:28px;
	font-style:normal;
	position:relative;
}
.pricing-head h4 span {
	top:-10px;
	font-size:14px;
	font-style:normal;
	position:relative;
}
	
/*Pricing Content*/

.pricing-content  {
	margin-bottom: 0px;
}
.pricing-content li {
	color:#888;
	font-size:12px;
	padding:7px 15px;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
	color:#72c02c;
	font-size:16px;
	margin-right:5px;
	position:relative;
}

/*Pricing Footer*/
.pricing-footer {
	color:#777;
	font-size:11px;
	line-height:17px;
	text-align:center;
	padding:0 20px 19px;
	border-radius:0 0 3px 3px;
}

/*Pricing Active*/
.price-active,
.pricing:hover {
	z-index:9;
	margin-top: -15px;
}
.price-active h4 {
	color:#74C52C;
}

/*Pricing Extra*/

 .bg-color {
	background-color: #f9f9f9;	
}
 .easy-bg-v2 {
    top: 13px;
    color: #fff;
    width: 150px;
    padding: 5px;
    right: -49px;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    background: rgba(231, 76, 60, 1);
    transform: rotate(45deg);   
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/*Pricing Table accord-inner Version 
------------------------------------*/

.pricing-accord-inner [class^="col-"],
.pricing-accord-inner [class*=" col-"] {
	padding: 0px;
}

.pricing-accord .price-active, 
.pricing-accord .pricing-accord-inner .pricing:hover {
	margin-top: 0 ;
}
.pricing-accord-inner .pricing {
	overflow: hidden;
	box-shadow: none;
}
.pricing-accord-inner  h3 {
	color: #888;
	text-shadow: none;
	font-weight: normal !important;
	border-bottom: 1px solid #ddd ;
	border-top: 1px solid #ddd; 
	background: url